@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$navbar-color: #3c3e42;
.navbar-inverse {
  background-color: $navbar-color;
}

#logo{
  font-size:20px;
  font-weight:bold;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

  a {
    color: #555;
  }

  a:hover {
    color: #222;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }

  img.brand-icon {
    width: 17px;
    height: 17px;
  }

  .slogon {
    font-size: 13px;
    font-weight: bold;
  }
}
